* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(to bottom, #fff0b3, #ffd27f);
    color: #333;
}

nav {
    background-color: #ed7e0f;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.imagen-inicio {
    width: 1400px; 
    height: 850px;

}


nav a:hover {
    background-color: #333;
    color: #ffd27f;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 1rem;
}
.texto-advertencias {
    text-align: left;
    padding-left: 20px;

}
p {
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.5;
}

img {
    display: block;
    margin: 1rem auto;
    max-width: 90%;
    border-radius: 8px;
}

.cartel-img {
   width: 700px;
    height: 780px;
}

section.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 12px;
}

form input, form textarea, form select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 0.7rem;
    background-color: #ed7e0f;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #c75c00;
}

.galeria {
width: 100%;
height: auto;
border: none; 
border-radius: 0; 
display: block;
margin: 0 auto;
transition: transform 0.3s;
}

.galeria-contenedor {
    display: grid;
    max-width: 1400px; 
    margin: 50px auto;  
    padding: 0 20px; 
    gap: 15px; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.galeria-contenedor img {
    width: 100%;
    height: 350px; 
    object-fit: cover;
    border-radius: 5px; 
    transition: transform 0.3s ease; 
}

.galeria-contenedor img:hover {
    transform: scale(1.02);
    cursor: pointer;
}


